@import url("./style.css");

.intro {
    line-height: 2.1;
    font-family: 'Antic Didone', serif;
    font-size: 21px;
}

.left {
    float: left;
    height: auto;
    max-width: 33%; 
    margin-left: 11px;
    margin-right: 33px;
}

.right {
    float: right;
    height: auto;
    max-width: 33%; 
    margin-left: 33px;
    margin-right: 11px;
}