@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman&display=swap');

* {
    text-align: center;
}

.heart {
    background-image: url(/img/heart.svg);
    background-repeat: no-repeat;
    height: auto;
	max-width: 8%;
    margin-bottom: 5px;
}

#toggle {
    background-image: url(/img/audio.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: 10px;
    height: 40px;
    width: 40px;
    border: none;
}


h1 {
    font-family: 'Julius Sans One', sans-serif, bold;
    font-size: 37px;
    line-height: 1.7;
}

h3 {
    font-family: 'Charmonman', cursive;
    font-size: 21px;
}

.poem {
    font-family: 'Antic Didone', serif;
    font-size: 24px;
    line-height: 2.7;
}

.final {
    font-family: 'Marcellus', serif;
    font-size: 30px;
    color:#181948;
    line-height: 1.6;
}

.navbar {
    font-size: 20px;
    font-family: 'Julius Sans One', sans-serif, bold;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.navbar li{
    display:inline;
}
.navbar a{
    display:inline-block;
    padding:10px;
}

.navbar a:hover {
    color: #31addd;
}

/* body {
    background-repeat: no-repeat;
    background-image:#00e1ff;background-image:  
radial-gradient(at 89% 56%, hsla(175,63%,62%,1) 0, transparent 33%),  
radial-gradient(at 40% 20%, hsla(28,100%,74%,1) 0, transparent 33%),  
radial-gradient(at 80% 0%, hsla(189,100%,56%,1) 0, transparent 33%),  
radial-gradient(at 0% 50%, hsla(355,85%,93%,1) 0, transparent 33%),  
radial-gradient(at 80% 50%, hsla(340,100%,76%,1) 0, transparent 33%),  
radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0, transparent 33%),  
radial-gradient(at 80% 100%, hsla(242,100%,70%,1) 0, transparent 33%),  
radial-gradient(at 0% 0%, hsla(343,100%,76%,1) 0, transparent 33%);
  } */

  body {
    height: auto;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:#ffdf99;background-image:  
radial-gradient(at 50% 50%, hsla(271,0%,100%,1) 0, transparent 33%),  
radial-gradient(at 90% 70%, hsla(152,43%,42%,1) 0, transparent 44%),  
radial-gradient(at 93% 26%, hsla(249,73%,60%,1) 0, transparent 49%),  
radial-gradient(at 77% 80%, hsla(290,88%,73%,1) 0, transparent 38%),  
radial-gradient(at 31% 82%, hsla(262,65%,68%,1) 0, transparent 30%),  
radial-gradient(at 0% 59%, hsla(161,60%,74%,1) 0, transparent 38%),  
radial-gradient(at 24% 82%, hsla(246,65%,68%,1) 0, transparent 51%);
  }

  .footer {
    font-family: 'Marcellus', serif;
    font-size: 14px;
    text-align: center;
  }